# Database credentials
SOURCE_DB_USER=source_user
SOURCE_DB_PASSWORD=source_pass
SOURCE_DB_NAME=source_db
SOURCE_DB_HOST=source_db
SOURCE_DB_PORT=5432

WAREHOUSE_DB_USER=warehouse_user
WAREHOUSE_DB_PASSWORD=warehouse_pass
WAREHOUSE_DB_NAME=warehouse_db
WAREHOUSE_DB_HOST=warehouse_db
WAREHOUSE_DB_PORT=5432

AIRFLOW_DB_USER=airflow
AIRFLOW_DB_PASSWORD=airflow_pass
AIRFLOW_DB_NAME=airflow_db
AIRFLOW_DB_HOST=airflow_db
AIRFLOW_DB_PORT=5432

# Airflow settings
AIRFLOW_HOME=/opt/airflow
AIRFLOW_UID=50000
AIRFLOW_GID=0
AIRFLOW__CORE__DAGS_ARE_PAUSED_AT_CREATION=false
AIRFLOW__CORE__LOAD_EXAMPLES=false
AIRFLOW__CORE__EXECUTOR=LocalExecutor
AIRFLOW__CORE__SQL_ALCHEMY_CONN=postgresql://airflow:airflow_pass@airflow_db:5432/airflow_db
AIRFLOW__CORE__FERNET_KEY=Ofc0yMZ8t83ly7JdJhMGiG_hiV5oXOz_BmftyyXR_7c=
AIRFLOW__CORE__PLUGINS_FOLDER=/opt/airflow/plugins

# Airflow connections (exposed to DAGs)
AIRFLOW_CONN_SOURCE_DB=postgres://source_user:source_pass@source_db:5432/source_db
AIRFLOW_CONN_WAREHOUSE_DB=postgres://warehouse_user:warehouse_pass@warehouse_db:5432/warehouse_db
AIRFLOW_CONN_API=http://api:8000

# API settings
API_PORT=8000

# CSV seed
CSV_SEED=42
CSV_OUTPUT_PATH=/data/ventes.csv
